/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2024, 1:14:55 PM
    Author     : KRI SILVA
*/
h1 {
            background-image: url('BooksImages/BM2.jpg');
            background-size: cover; 
            color: white; 
            padding: 100px; 
            text-align: center; 
        }  
          body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: brown;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
            margin: 0;
            color: blanchedalmond;
            font-size: 50px;
            text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
            font-family: Arial;
        }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    display:inline-block;
    width:calc(100%/6);
    verticle-align:top;
    margin-right:3px;
}

section h2 {
    color: #333;
}

.book {
    display: inline-block;
    width: 200px;
    margin-right: 5px;
}

.book img {
    width: 100%;
    height: 300px;
    background-size: cover;
}
main {
            padding: 20px;
            margin-top: 20px;
}
   .login-button,
        .register-button {
            background-color: #4CAF50; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
        }
        
        .register-button {
            background-color: #008CBA; 
        }
         .addcart-button {
            background-color: brown; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
        }
       
footer {
    background-color: brown;
    color: #fff;
    text-align: center;
    padding: 4px;

    
} 
 .submenu {
            display: none;
            position: absolute;
            background-color: brown;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }
        .submenu.active {
            display: block;
        }
        .submenu a {
            display: block;
            color:whitesmoke;
            text-decoration: none;
            padding: 8px 16px;
            transition: background-color 0.3s;
        }
        .submenu a:hover {
            background-color: black ;
        }
